* {
    font-family: 'Space Mono', monospace;
}

body{
    background-image: url(../images/background.jpeg);
    background-size: 100%;
}

header {
    color: white;
    text-align: center;
    width: 100%;
}

p {
    padding-left: 5%;
    width: 100%;
    font-size: 1.25rem;
    background-color: slategray;
    color: whitesmoke;
}

button {
    border: none;
    background-color: slategray;
    color: whitesmoke;
}

#player-damage {
    color: darkblue;;
}

#opponent-damage {
    color: darkred;
}

.content-wrapper {
    width: 66%;
    margin: auto;
}

.card-body, .card-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: .75rem;
}

.thin-row {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.card-text {
    padding-left: 0;
    width: 100%;
    font-size: 1rem;
    background-color: white;
    color: black;
}